<shell-remote remoteEntry='http://localhost:3001/remoteEntry.js'
              remoteName='microAppA'
              exposedModule='./StockComponent'
              componentName='StockComponent'></shell-remote>

<shell-remote remoteEntry='http://localhost:3002/remoteEntry.js'
              remoteName='microAppB'
              exposedModule='./OverviewComponent'
              componentName='OverviewComponent'></shell-remote>

<shell-remote remoteEntry='http://localhost:3003/remoteEntry.js'
              remoteName='microAppC'
              exposedModule='./ListComponent'
              componentName='ListComponent'></shell-remote>
              